<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>숙소 전체 출력</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>아이디</th>
        <th>숙소이름</th>
        <th>숙소위치</th>
        <th>가격</th>
        <th>평점</th>
        <th>메모</th>
        <th>태그</th>
    </tr>
    </thead>
    <tbody>
         <!-- information 변수안에 data를 for:each문을 통해 모든 값을 반복하여 넣는다. -->
         <tr th:each ="information : ${list}">
        <td th:text="${information.lodgingid}"></td>      <!-- information변수안에 id값을 넣는다. -->
        <td>
            <a  th:text="${information.lodgingname}" th:href="@{/lodging/finddetail(id=${information.lodgingid})}"></a>
        </td>
        <td th:text="${information.lodginglocation}"></td>
        <td th:text="${information.lodgingprice}"></td>
        <td th:text="${information.lodgingscore}"></td>
        <td th:text="${information.lodgingmemo}"></td>
        <td th:text="${information.lodgingtag}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>