<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<style>
		.wwewe{
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/img/logo.png');
            background-position: center 30%;
            background-size: cover;
		}
		
	</style>
</head>
<body>
	<h1>asdasd</h1>
	<div class="wwewe"></div>
	<!-- <div class="wwewe" th:src="@{/images/img/logo.png}"></div> -->
	<a href="https://kauth.kakao.com/oauth/authorize?client_id=a10968d091035e94e254188bf4ca528a&redirect_uri=http://localhost:8080/auth/kakao/callback&response_type=code">카카오 로그인 버튼</a>
</body>
</html>